In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns

In [2]:
# import test data
test = pd.read_csv('./datasets/test.csv')

In [3]:
test.shape

(878, 80)

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               878 non-null    int64
 1   PID              878 non-null    int64
 2   MS SubClass      878 non-null    int64
 3   MS Zoning        878 non-null    object
 4   Lot Frontage     718 non-null    float64
 5   Lot Area         878 non-null    int64
 6   Street           878 non-null    object
 7   Alley            58 non-null     object
 8   Lot Shape        878 non-null    object
 9   Land Contour     878 non-null    object
 10  Utilities        878 non-null    object
 11  Lot Config       878 non-null    object
 12  Land Slope       878 non-null    object
 13  Neighborhood     878 non-null    object
 14  Condition 1      878 non-null    object
 15  Condition 2      878 non-null    object
 16  Bldg Type        878 non-null    object
 17  House Style      878 non-null    object
 18  Overall Qual     878 non-null    int64
 19  Overall Cond     878 non-null    int64
 20  Year Built       878 non-null    int64
 21  Year Remod/Add   878 non-null    int64
 22  Roof Style       878 non-null    object
 23  Roof Matl        878 non-null    object
 24  Exterior 1st     878 non-null    object
 25  Exterior 2nd     878 non-null    object
 26  Mas Vnr Type     877 non-null    object
 27  Mas Vnr Area     877 non-null    float64
 28  Exter Qual       878 non-null    object
 29  Exter Cond       878 non-null    object
 30  Foundation       878 non-null    object
 31  Bsmt Qual        853 non-null    object
 32  Bsmt Cond        853 non-null    object
 33  Bsmt Exposure    853 non-null    object
 34  BsmtFin Type 1   853 non-null    object
 35  BsmtFin SF 1     878 non-null    int64
 36  BsmtFin Type 2   853 non-null    object
 37  BsmtFin SF 2     878 non-null    int64
 38  Bsmt Unf SF      878 non-null    int64
 39  Total Bsmt SF    878 non-null    int64
 40  Heating          878 non-null    object
 41  Heating QC       878 non-null    object
 42  Central Air      878 non-null    object
 43  Electrical       877 non-null    object
 44  1st Flr SF       878 non-null    int64
 45  2nd Flr SF       878 non-null    int64
 46  Low Qual Fin SF  878 non-null    int64
 47  Gr Liv Area      878 non-null    int64
 48  Bsmt Full Bath   878 non-null    int64
 49  Bsmt Half Bath   878 non-null    int64
 50  Full Bath        878 non-null    int64
 51  Half Bath        878 non-null    int64
 52  Bedroom AbvGr    878 non-null    int64
 53  Kitchen AbvGr    878 non-null    int64
 54  Kitchen Qual     878 non-null    object
 55  TotRms AbvGrd    878 non-null    int64
 56  Functional       878 non-null    object
 57  Fireplaces       878 non-null    int64
 58  Fireplace Qu     456 non-null    object
 59  Garage Type      834 non-null    object
 60  Garage Yr Blt    833 non-null    float64
 61  Garage Finish    833 non-null    object
 62  Garage Cars      878 non-null    int64
 63  Garage Area      878 non-null    int64
 64  Garage Qual      833 non-null    object
 65  Garage Cond      833 non-null    object
 66  Paved Drive      878 non-null    object
 67  Wood Deck SF     878 non-null    int64
 68  Open Porch SF    878 non-null    int64
 69  Enclosed Porch   878 non-null    int64
 70  3Ssn Porch       878 non-null    int64
 71  Screen Porch     878 non-null    int64
 72  Pool Area        878 non-null    int64
 73  Pool QC          4 non-null      object
 74  Fence            172 non-null    object
 75  Misc Feature     41 non-null     object
 76  Misc Val         878 non-null    int64
 77  Mo Sold          878 non-null    int64
 78  Yr Sold          878 non-null    int64
 79  Sale Type        878 non-null    object
dtypes: float64(3), int64(35), object(42)
memory usage: 548.9+ KB

# Data Clean

In [5]:
test.isnull().sum().sort_values(ascending= False).head(20)

Pool QC           874
Misc Feature      837
Alley             820
Fence             706
Fireplace Qu      422
Lot Frontage      160
Garage Yr Blt      45
Garage Finish      45
Garage Qual        45
Garage Cond        45
Garage Type        44
BsmtFin Type 1     25
Bsmt Qual          25
Bsmt Cond          25
Bsmt Exposure      25
BsmtFin Type 2     25
Electrical          1
Mas Vnr Type        1
Mas Vnr Area        1
Kitchen AbvGr       0
dtype: int64

In [6]:
# drop the columns with so many missing values
test.drop(columns = ['Pool QC', 'Misc Feature', 'Alley', 'Fence', 'Fireplace Qu'], inplace = True)

In [7]:
test.fillna(test[['Garage Finish', 'Garage Qual', 'Garage Type', 'Bsmt Cond', 'Bsmt Qual', 'Bsmt Exposure', 'BsmtFin Type 1','BsmtFin Type 2','Mas Vnr Type', 'Garage Cond', 'Electrical']].fillna('None'), inplace = True)

In [8]:
test['Lot Frontage'].fillna(test['Lot Frontage'].mean(), inplace = True)

In [9]:
test['Garage Yr Blt'] = test.apply(lambda row: row['Year Built'] if np.isnan(row['Garage Yr Blt']) else row['Garage Yr Blt'],axis =1)

In [10]:
test['Garage Yr Blt'] = test['Garage Yr Blt'].astype(int)

In [11]:
test['Mas Vnr Area'].fillna((0), inplace = True)

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 75 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               878 non-null    int64
 1   PID              878 non-null    int64
 2   MS SubClass      878 non-null    int64
 3   MS Zoning        878 non-null    object
 4   Lot Frontage     878 non-null    float64
 5   Lot Area         878 non-null    int64
 6   Street           878 non-null    object
 7   Lot Shape        878 non-null    object
 8   Land Contour     878 non-null    object
 9   Utilities        878 non-null    object
 10  Lot Config       878 non-null    object
 11  Land Slope       878 non-null    object
 12  Neighborhood     878 non-null    object
 13  Condition 1      878 non-null    object
 14  Condition 2      878 non-null    object
 15  Bldg Type        878 non-null    object
 16  House Style      878 non-null    object
 17  Overall Qual     878 non-null    int64
 18  Overall Cond     878 non-null    int64
 19  Year Built       878 non-null    int64
 20  Year Remod/Add   878 non-null    int64
 21  Roof Style       878 non-null    object
 22  Roof Matl        878 non-null    object
 23  Exterior 1st     878 non-null    object
 24  Exterior 2nd     878 non-null    object
 25  Mas Vnr Type     878 non-null    object
 26  Mas Vnr Area     878 non-null    float64
 27  Exter Qual       878 non-null    object
 28  Exter Cond       878 non-null    object
 29  Foundation       878 non-null    object
 30  Bsmt Qual        878 non-null    object
 31  Bsmt Cond        878 non-null    object
 32  Bsmt Exposure    878 non-null    object
 33  BsmtFin Type 1   878 non-null    object
 34  BsmtFin SF 1     878 non-null    int64
 35  BsmtFin Type 2   878 non-null    object
 36  BsmtFin SF 2     878 non-null    int64
 37  Bsmt Unf SF      878 non-null    int64
 38  Total Bsmt SF    878 non-null    int64
 39  Heating          878 non-null    object
 40  Heating QC       878 non-null    object
 41  Central Air      878 non-null    object
 42  Electrical       878 non-null    object
 43  1st Flr SF       878 non-null    int64
 44  2nd Flr SF       878 non-null    int64
 45  Low Qual Fin SF  878 non-null    int64
 46  Gr Liv Area      878 non-null    int64
 47  Bsmt Full Bath   878 non-null    int64
 48  Bsmt Half Bath   878 non-null    int64
 49  Full Bath        878 non-null    int64
 50  Half Bath        878 non-null    int64
 51  Bedroom AbvGr    878 non-null    int64
 52  Kitchen AbvGr    878 non-null    int64
 53  Kitchen Qual     878 non-null    object
 54  TotRms AbvGrd    878 non-null    int64
 55  Functional       878 non-null    object
 56  Fireplaces       878 non-null    int64
 57  Garage Type      878 non-null    object
 58  Garage Yr Blt    878 non-null    int64
 59  Garage Finish    878 non-null    object
 60  Garage Cars      878 non-null    int64
 61  Garage Area      878 non-null    int64
 62  Garage Qual      878 non-null    object
 63  Garage Cond      878 non-null    object
 64  Paved Drive      878 non-null    object
 65  Wood Deck SF     878 non-null    int64
 66  Open Porch SF    878 non-null    int64
 67  Enclosed Porch   878 non-null    int64
 68  3Ssn Porch       878 non-null    int64
 69  Screen Porch     878 non-null    int64
 70  Pool Area        878 non-null    int64
 71  Misc Val         878 non-null    int64
 72  Mo Sold          878 non-null    int64
 73  Yr Sold          878 non-null    int64
 74  Sale Type        878 non-null    object
dtypes: float64(2), int64(36), object(37)
memory usage: 514.6+ KB

In [13]:
test['HouseAge'] = test['Yr Sold'] - test['Year Built']

In [14]:
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.preprocessing as skpp
import sklearn.model_selection as skms
import sklearn.linear_model as sklm
import sklearn.metrics as skm

# EDA

In [15]:
test.select_dtypes(include = 'object').columns

Index(['MS Zoning', 'Street', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Exter Qual',
       'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC',
       'Central Air', 'Electrical', 'Kitchen Qual', 'Functional',
       'Garage Type', 'Garage Finish', 'Garage Qual', 'Garage Cond',
       'Paved Drive', 'Sale Type'],
      dtype='object')

In [16]:
# drop categorical columns
test.drop(['Utilities','Land Slope','Lot Shape', 'Lot Config', 'Roof Style', 'Heating', 
           'Condition 2','Exterior 2nd', 'BsmtFin Type 2'], axis=1, inplace= True)

In [17]:
# drop numeric columns
test.drop(['PID', 'Id', 'Pool Area', 'MS SubClass','Overall Cond', 'BsmtFin SF 2', 
            'Low Qual Fin SF', 'Bsmt Half Bath' , 'Bedroom AbvGr', 'Kitchen AbvGr',
           'Enclosed Porch','3Ssn Porch','Screen Porch', 'Misc Val', 'Mo Sold', 'Yr Sold'], 
          axis=1, inplace = True)

In [18]:
test['Flr SF'] = test['1st Flr SF'] + test['2nd Flr SF']
test['Bath'] = test['Bsmt Full Bath'] + test['Full Bath'] + test['Half Bath']
# comibne 'wood deck sf, and open porch sf' - as Attach SF
test['Attach SF'] = test['Wood Deck SF'] + test['Open Porch SF']
# combine lot frontage and lot area
test['Lot SF'] = test['Lot Frontage'] + test['Lot Area']

In [19]:
test.drop(columns = ['Year Built', 'Bsmt Unf SF', 'Garage Yr Blt', '1st Flr SF',
                     '2nd Flr SF', 'Bsmt Full Bath', 'Full Bath', 'Half Bath',
                     'Wood Deck SF', 'Open Porch SF', 'Lot Frontage', 'Lot Area'], axis=1, inplace = True)

In [20]:
test.shape

(878, 43)

In [21]:
test.select_dtypes(include = 'object').columns

Index(['MS Zoning', 'Street', 'Land Contour', 'Neighborhood', 'Condition 1',
       'Bldg Type', 'House Style', 'Roof Matl', 'Exterior 1st', 'Mas Vnr Type',
       'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond',
       'Bsmt Exposure', 'BsmtFin Type 1', 'Heating QC', 'Central Air',
       'Electrical', 'Kitchen Qual', 'Functional', 'Garage Type',
       'Garage Finish', 'Garage Qual', 'Garage Cond', 'Paved Drive',
       'Sale Type'],
      dtype='object')

In [22]:
test = pd.get_dummies(columns =['MS Zoning', 'Street', 'Land Contour', 'Neighborhood', 'Condition 1',
       'Bldg Type', 'House Style', 'Roof Matl', 'Exterior 1st', 'Mas Vnr Type',
       'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond',
       'Bsmt Exposure', 'BsmtFin Type 1', 'Heating QC', 'Central Air',
       'Electrical', 'Kitchen Qual', 'Functional', 'Garage Type',
       'Garage Finish', 'Garage Qual', 'Garage Cond', 'Paved Drive',
       'Sale Type'], data=test, drop_first = True)

In [23]:
test.shape

(878, 165)

In [24]:
test.columns

Index(['Overall Qual', 'Year Remod/Add', 'Mas Vnr Area', 'BsmtFin SF 1',
       'Total Bsmt SF', 'Gr Liv Area', 'TotRms AbvGrd', 'Fireplaces',
       'Garage Cars', 'Garage Area',
       ...
       'Paved Drive_Y', 'Sale Type_CWD', 'Sale Type_Con', 'Sale Type_ConLD',
       'Sale Type_ConLI', 'Sale Type_ConLw', 'Sale Type_New', 'Sale Type_Oth',
       'Sale Type_VWD', 'Sale Type_WD '],
      dtype='object', length=165)

In [25]:
test.to_csv ('./datasets/clean_test.csv')

In [26]:
test = pd.read_csv('./datasets/clean_test.csv')
train =

In [29]:
X = test.drop(columns = ['Unnamed: 0'])

,Overall Qual,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,Total Bsmt SF,Gr Liv Area,TotRms AbvGrd,Fireplaces,Garage Cars,Garage Area,...,Paved Drive_Y,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD
0,6,1950,0.0,0,1020,1928,9,0,1,440,...,1,0,0,0,0,0,0,0,0,1
1,5,1977,0.0,0,1967,1967,10,0,2,580,...,1,0,0,0,0,0,0,0,0,1
2,7,2006,0.0,554,654,1496,7,1,2,426,...,1,0,0,0,0,0,1,0,0,0
3,5,2006,0.0,0,968,968,5,0,2,480,...,0,0,0,0,0,0,0,0,0,1
4,6,1963,247.0,609,1394,1394,6,2,2,514,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,6,1974,0.0,931,1084,1877,8,1,2,488,...,1,0,0,0,0,0,0,0,0,1
874,6,1999,410.0,575,1104,1988,9,1,2,480,...,1,0,0,0,0,0,0,0,0,1
875,5,1968,0.0,250,952,1211,5,1,1,322,...,1,0,0,0,0,0,0,0,0,1
876,4,1971,0.0,616,864,864,5,0,2,528,...,1,0,0,0,0,0,0,0,0,1
877,5,1955,0.0,793,923,925,5,2,1,390,...,1,0,0,0,0,0,0,0,0,1